### 1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [22]:
print("Pakistan",56 , 9>=8, 9==8, 9<=8, 56.8)

Pakistan 56 True False False 56.8

### 2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [27]:
print("Pskistan",56, 9==8,67.5, sep="-")

Pskistan-56-False-67.5

### 3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.But every value must be space separated and in single line

In [35]:
print("Pakistan", end=" ")
print(89, end=" ")
print(8==6, end=" ")
print (98.6)

Pakistan 89 False 98.6

### 4) Can a python print function take no value to print???

In [38]:
print("Shez")
print()
print(76)

Shez

76

# # TOPIC :Variables in Python Operators

### 5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR. Note: Create variables from above text and also assign values from the text.

## BASIC INFORMATION :

In [52]:
name= "MR. Ahmed"

In [54]:
age= 30

In [56]:
profession = "Lawyer"

In [108]:
qualification = "Bachelors"

In [96]:
bachlor_year = 2005

In [110]:
current_year = 2024

## EMPLOYER DETAIL :

In [64]:
employer= "The Himalya Associates"

In [66]:
location = "Karachi"

In [68]:
Employment_start_year = 2015

## PHYSICAL ATTRIBUTES :

In [74]:
height_feet = 5.10

In [76]:
weight_grams = 70600

## FINANCIAL DETAILS :

In [167]:
monthly_income_pkr = 200000

### 6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [128]:
years_after_bachlors = current_year - bachlor_year

In [130]:
years_after_bachlors

19

### 7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [146]:
years_in_law_firm = current_year - Employment_start_year

In [148]:
years_in_law_firm

9

### 8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [163]:
usd_to_pkr_exchange_rate = 285.5

In [211]:
monthly_income_usd = monthly_income_pkr / usd_to_pkr_exchange_rate

In [215]:
monthly_income_usd

700.5253940455342

### 9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [217]:
type(monthly_income_usd)

float

In [219]:
int(monthly_income_usd)

700

### 10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [222]:
type(weight_grams)weight_grams

int

In [224]:
weight_kg = weight_grams / 1000

In [226]:
weight_kg

70.6

In [230]:
int(weight_kg)

70

### 11) print the year of birth of Mr. Ahmed.

In [233]:
Date_of_birth = current_year - age

In [237]:
Date_of_birth

1994

### 12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [246]:
total_amount = 100

In [248]:
number_of_students = 6

In [250]:
remainder = total_amount % number_of_students

In [252]:
remainder

4

In [254]:
division = total_amount / number_of_students

In [256]:
division

16.666666666666668

In [260]:
int(division)

16